

/* --------------- header --------------- */

@media screen and (max-width:767px) {

  .nav-visual {
    z-index: 999;
  } 

  .nav-links-menu {
    flex-direction: column;
  }

  .openbtn {
    pointer-events: fill;
    animation-name: fadein-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadein-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /*アクティブになったエリア*/
  #g-nav.panelactive{
    position:fixed;
    z-index: 1000;
    top: 0;
    width:100%;
    height: 100vh;
  }

  /*丸の拡大*/
  .circle-bg{
    position: fixed;
    z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #999;
    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    right:-50px;
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
  }

  .circle-bg.circleactive{
    transform: scale(50);/*クラスが付与されたらscaleを拡大*/
  }

  /*ナビゲーションの縦スクロール*/
  #g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 1000; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #g-nav.panelactive #g-nav-list{
    display: block; /*クラスが付与されたら出現*/
  }

  /*ナビゲーション*/
  #g-nav ul {
    position: absolute;
    z-index: 1000;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }

  /*背景が出現後にナビゲーションを表示*/
  #g-nav.panelactive ul {
    opacity:1;
  }

  /* 背景が出現後にナビゲーション li を表示 */
  #g-nav.panelactive ul li{
    animation-name:gnavAnime;
    animation-duration:1s;
    animation-delay:.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
  }
  @keyframes gnavAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*リストのレイアウト設定*/
  #g-nav li{
    text-align: center; 
    list-style: none;
  }

  #g-nav li a{
    display: block;
    padding:10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .header-visual h2 {
    font-size: 32px;
  }

}

@media screen and (min-width:768px) and (max-width:950px) {
  /* .header-visual {
    background-image: none;
  }

  .header-visual::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-2;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(../images/job/pattern-3232784_1920-min.jpg);
    background-size:cover;
  }
   */
}

@media screen and (min-width:951px) and (max-width:1200px) {
  .nav-links-menu li a {
    font-size: 20px;
  }

  /* .header-visual {
    background-image: none;
  }

  .header-visual::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-2;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(../images/job/pattern-3232784_1920-min.jpg);
    background-size:cover;
    } */

  .header-visual h2 {
    font-size: 44px;
  }
}


/* --------------- about --------------- */

@media screen and (max-width:767px) {
  .about-vw {
    height: 140vh;
  }
  
  .about-contain {
    flex-direction: column;
  }

  .about-pofile {
    height: auto;
    width: 100%;
    padding: 30px 0;
  }
  
  .about-pofile-pic {
    width: 160px;
    height: 160px;
    background-position-x: 54%;
    background-position-y: 20%;
  }
  
  .about-pofile-pic::after {
    filter: blur(8px);
    box-shadow: 5px 5px 1px 2px;
  }
  
  .about-contain span {
    font-size: 24px;
    text-shadow: 1px 2px 2px;
  }
  
  
  .about-discription {
    width: 80%;
    /* transform: translateY(10px); */
  }
  
  .about-header h1 {
    font-size: 32px;
    /* transform: translateY(5px); */
    padding: 4px 6px;
  }
  
  .about-header h2 {
    font-size: 16px;
    padding: 4px 6px;
    /* transform: translateY(30px); */
  }
  
  
  .about-discription p {
    color: #faebd7;
    padding: 8px 0;
    font-size: 14px;
  }  
  
}

@media screen and (min-width:768px) and (max-width:950px) {

.about-vw {
  height: 100vh;
}

.about-contain {
  width: 100%;
  height: 80vh;
  flex-direction: column;
}

.about-discription {
  width: 90%;
  transform: translateY(10px);
}

.about-header h1 {
  font-size: 40px;
 }
 
 .about-header h2 {
   font-size: 20px;
 }

.about-discription p {
  padding: 8px 0;
  font-size: 16px;
  text-align: center;
}  

}

@media screen and (min-width:951px) and (max-width:1200px) {
.about-vw {
  height: 100vh;
}


.about-contain {
  flex-direction: column;
}

.about-pofile {
  flex-direction: row;
  width: 80vw;
  height: 40vh;
}

.about-pofile-pic {
  width: 300px;
  height: 300px;
}

.about-pofile-pic::after {
  filter: blur(8px);
  box-shadow: 5px 5px 1px 2px;
}

.about-contain span {
  font-size: 32px;
}

.about-discription {
  width: 90%;
  transform: translateY(10px);
}

.about-header h1 {
 font-size: 40px;
}

.about-header h2 {
  font-size: 20px;
}

.about-discription p {
  padding: 8px 0;
  font-size: 18px;
  text-align: center;
}  

}


/* ------------------- skill -------------------- */

@media screen and (max-width:767px) {
  /* .skill-vw {
    background-image: none;
  }

  .skill-vw::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 120vh;
    background-image: url(../images/job/tablet-313002_1920-min.jpg);
    background-position: 30%;
    background-size: cover;
    background-repeat: no-repeat;
  } */

  .skill-vw {
    background-position-x: 23%;
  }
  
  .skill-contain {
    flex-wrap: wrap;
    padding: 25px 0;
  }
  
  .skill-contain-img {
    width: 150px;
    text-align: center;
    padding: 10px 0;
  }
  
  .skill-contain img {
    width: 75px;
    height: 75px;
  }

  .skill-vw h1 {
    font-size: 32px;
  }

  .skill-vw h2 {
    padding: 20px 0;
  }

  .skill-vw p {
    font-size: 16px;
  }

}

@media screen and (min-width:768px) and (max-width:950px) {
 
  .skill-vw {
    height: 100vh;
    background-position: inherit;
  }

  .skill-contain {
    flex-wrap: wrap;
    padding: 25px;
  }
  
  .skill-contain-img {
    text-align: center;
    padding: 10px 0;
  }
  
    
  .skill-vw h1 {
    font-size: 40px;
  }
  .skill-vw h2 {
    padding: 10px 0;
    font-size: 20px;
  }
  
  .chart-discription p {
    font-size: 18px;
    padding-bottom: 10px;
  }
}



@media screen and (min-width:951px) and (max-width:1200px) {
  
  .skill-vw {
    height: 100vh;
    background-position: inherit;
  }

  .skill-contain {
    flex-wrap: wrap;
  }
  
  .skill-contain-img {
    text-align: center;
    padding: 10px 0;
  }
  
  .skill-vw h1 {
    font-size: 40px;
  }
  .skill-vw h2 {
    font-size: 20px;
  }
  
  .chart-discription p {
    font-size: 18px;
    padding-bottom: 10px;
  }
}


/* --------------- service --------------- */

@media screen and (max-width:767px) {
  .service-vw {
    height: 165vh;
    background-image: none;
  }

  .service-vw::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 120vh;
    background-image: url(../images/job/office-desk-6180921_1920-min.jpg);
    background-position: 85%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service-contain {
   width: 100%;
  }
  
  
  .contain-menu {
    margin: 10px auto;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-icon {
    width: 100px;
    height: 100px;
  }
  
  .menu-icon img {
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
  }
  
  .service-discription {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .service-vw h1 {
    font-size: 32px;
  }
  
  .contain-menu h3 {
    padding: 10px;
  }
  .contain-menu p {
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
  }

}

@media screen and (min-width:768px) and (max-width:950px) {
  .service-vw {
    height: 100vh;
    background-image: none;
  }

  .service-vw::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 120vh;
    background-image: url(../images/job/office-desk-6180921_1920-min.jpg);
    background-position: 90%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service-header {
    height: auto;
  }
  
  .contain-menu {
    margin: 30px auto;
    align-items: center;
  }

  .menu-icon {
    width: 160px;
    height: 160px;
  }

  .menu-icon img {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 40px;
  }
  
  .service-discription {
    width: 65vw;
    align-items: center;
  }

  .service-vw h1 {
    font-size: 40px;
  }

  .service-vw h2 {
    font-size: 20px;
  }
  
  .contain-menu h3 {
    padding: 10px;
    font-size: 24px;
  }
  .contain-menu p {
    padding: 2px;
    font-size: 18px;
  }



}

@media screen and (min-width:951px) and (max-width:1200px) {
    .service-vw {
    height: 100vh;
    background-image: none;
  }

  .service-vw::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 120vh;
    background-image: url(../images/job/office-desk-6180921_1920-min.jpg);
    background-position: 95%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .service-header {
    height: auto;
  }
  
  .contain-menu {
    margin: 10px auto;
    align-items: center;
  }
  
  .service-discription {
    width: 65vw;
    align-items: center;
  }

  .service-vw h1 {
    font-size: 40px;
  }

  .service-vw h2 {
    font-size: 20px;
  }
  
  .contain-menu h3 {
    padding: 10px;
    font-size: 24px;
  }
  .contain-menu p {
    padding: 2px;
    font-size: 18px;
  }

}




/*-------------------- footer --------------------*/


@media screen and (max-width:767px) {
.contact-maill-discription {
  width: 75%;
}
.contact-vw h1 {
  font-size: 32px;
}
}


@media screen and (min-width:768px) and (max-width:1200px) {
.contact-contain {
  width: 80%;
}

  .contact-maill-discription {
  width: 75%;
}

.fa-envelope {
  font-size: 32px;
}

.contact-maill-ad a {
  font-size: 20px;
}

.contact-maill-discription ul li {
  font-size: 18px;
}

.contact-vw h1 {
  font-size: 40px;
}

.contact-vw h2 {
  font-size: 20px;
}

.contact-vw p {
  font-size: 18px;
}

}