@charset "utf-8";

/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*********************************
2. 全体の設定
*********************************/
body {
	margin: 0px;
	padding: 0px;
	color: #555;	/*全体の文字色*/
	font-family:"游明朝","Yu Mincho","游明朝体","YuMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo, Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;	/*フォント指定*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;
}


h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,form,figure,textarea,select {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: bold;
}
img {
  border: none;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
ul {
  list-style-type: none;
}

.sec {
  padding: 50px 0;
}

.title {
  margin: 0 0 30px;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
}

.title span {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  margin-top: 15px;
  line-height: 2em;
}

.sec .sec_btn {
  max-width: 600px;
  margin: 30px auto;
}

.sec .sec_btn a:hover {
	color: #ec6af8;
}

.btn-default {
  border: 1px solid #707070;
  background-color: #fff;
  position: relative;
}

.btn {
  display: block;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px!important;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
  font-weight: normal;
	color: #555;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #6e942b;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*inner
---------------------------------------------------------------------------*/
.inner {
	max-width: 1200px;	/*サイトの最大幅*/
	margin: 0 auto;
}

/*********************************
3. header
*********************************/
.gnav{
  width: 100%;
}

/*ロゴ画像*/
header h1 img {
  width: 150px;
}
/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック*/
.menubar {
  position: fixed;
  z-index: 999;
  display: flex;
  width: 100%;
  align-self: center;
  overflow: hidden;
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.8);
	border-top: 1px solid #FFF;	
	border-bottom: 1px solid #FFF;
}

.menubar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.menubar li {
	float: left;
	width: 25%;	
}

.menubar li:first-child {
	margin-left: 5%;	
}

.menubar li a {
	display:  block;
  text-decoration: none;
  font-weight: bold;
	color: #333;
	text-align: center;
	padding: 10px 0 15px;
	border-right: 1px solid #FDD;
}

.menubar li:first-child a {
	border-left: 1px solid #FDD;
}

.menubar li a span {
	text-shadow: none;
  display: block;
	font-size: 10px;
	letter-spacing: 0.2em;
	opacity: 0.6;
}

.menubar li a:hover {
	background: #da6bf0;
}

/* スマホ用Navボタン　ここから */
.openbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  background: #666;
  cursor: pointer;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  opacity: 0;
}

.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:13px; 
}

.openbtn span:nth-of-type(2) {
top:19px;
}

.openbtn span:nth-of-type(3) {
top:25px;
}

.openbtn span:nth-of-type(3)::after {
content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
position: absolute;
top:5px;
left:-2px;
color: #fff;
font-size: 0.6rem;
text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(3)::after {
content:"Close";/*3つ目の要素のafterにClose表示を指定*/
  transform: translateY(0) rotate(-45deg);
top:5px;
left:4px;
}
/* スマホ用Navボタン　ここまで */

.header-slack{
  position: relative;
}

.header-discription{
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: #fff;
}

@media screen and (max-width:767px) {

  header h1 img {
    display: none;
  }

  .menubar {
    position: static;
    background: none;
    border: none;
  }

  .openbtn {
    pointer-events: fill;
    opacity: 1;
  }
  
  /*アクティブになったエリア*/
  #g-nav.panelactive{
    position:fixed;
    z-index: 998;
    top: 0;
    width:100%;
    height: 100vh;
  }

  /*丸の拡大*/
  .circle-bg{
    position: fixed;
    z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #999;
    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    right:-50px;
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
  }

  .circle-bg.circleactive{
    transform: scale(50);/*クラスが付与されたらscaleを拡大*/
  }

  /*ナビゲーション*/
  #g-nav ul {
    position: absolute;
    z-index: 1000;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
  }

  /*背景が出現後にナビゲーションを表示*/
  #g-nav.panelactive ul {
    opacity:1;
    pointer-events: fill;
    flex-direction: column;
  }

  /* 背景が出現後にナビゲーション li を表示 */
  #g-nav.panelactive ul li{
    animation-name:gnavAnime;
    animation-duration:1s;
    animation-delay:.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
  }
  @keyframes gnavAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*リストのレイアウト設定*/
  #g-nav li{
    text-align: center; 
    list-style: none;
  }

  #g-nav li a{
    display: block;
    padding:10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

}

/*********************************
4. main
*********************************/
/* section_1 */
#content_1{
  background: aliceblue;
}

@media (min-width: 992px){
#content_1 .row{
  justify-content: space-between;
}

#content_1 .col-lg-4{
  width: 30%;
  margin: 10px;
  border: solid 1px;
  box-shadow: 14px 14px 20px rgb(0 0 0 / 15%);
}
}

.news { 
  padding: 10px 20px;
}

@media (max-width: 991px){
  .news { 
    margin-bottom: 30px;
    border: solid 1px;
    box-shadow: 14px 14px 20px rgb(0 0 0 / 15%);
  }
}

.news .news_pic {
  margin-bottom: 10px;
}

.news .news_pic img {
  height: auto;
  max-width: 100%;
  display: block;
}

.news_title {
  font-size: 18px;
  padding: 10px 0 20px 0;
  line-height: 1.2;
}

.news_title a {
  font-size: 20px;
  font-weight: bold;
}

.news a {
  text-decoration: none;
  display: inline-block;
}

/* section_2 */
#content_2{
  background:floralwhite;
}

.content_2-plan{
  padding: 20px;
  margin: 20px 0;
  border-bottom: solid 1px;
}

.tumbnail_img{
  align-self: center;
}

.content_2_discription{
  padding: 10px 0 10px 20px;
}

/* section_3 */
#content_3{
  background: beige;
}

.erea_map{
  height: 50vh;
  margin-bottom: 30px;
  box-shadow: 14px 14px 20px rgb(0 0 0 / 15%);
  padding: 10px 20px;
  border: solid 1px;
}

/* section_4 */
#content_4{
  background:lightcyan ;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: antiquewhite;
  font-size: 14px;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Btn {
  display: block;
  width: 180px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  letter-spacing: 0.05em;
}


@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }

  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }

  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .Form-Item-Label.isMsg {
    margin-top: 0;
  }

  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }

  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }

  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }

  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

/*********************************
5. TopScroll
*********************************/
.pagetop {
  background: #5A5A5A;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 15px 0;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}

/*********************************
6. footer
*********************************/
.footer {
  text-align: center;
  padding: 30px 0;
  background: #292929;
  color: #fff;
}

.footer_nav{
  padding: 20px;
}

.nav_container{
  display: flex;
  justify-content: center;
}

.footer_nav li{
  padding: 0 10px;
 }

.footer_nav li a{
  text-decoration: none;
  color: #bbbbbb;
 }

.footer_nav li a:hover {
	color: #f19ee6;
}

/*********************************
7. 一覧記事（archive.php）
*********************************/
.news .news_meta ul li {
  padding-right: 10px;
}

.news .news_meta ul li a {
  line-height: 1;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  color: #0293AD;
  border: 1px solid #0293AD;
  color: #0293AD;
  text-decoration: none;
}

.taxonomy_kinds{
  display: flex;
}

.taxonomy_kinds li { 
  padding: 0 10px;
  list-style: inside square;
}


.taxonomy_kinds li a{ 
  color: #0293AD;
  text-decoration: underline;
}

/*********************************
8. 個別記事（single.php）
*********************************/
.pageTitle {
  padding: 30px 0;
  text-align: center;
  background: #70462E;
  *zoom: 1;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
}

.pageTitle span {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

.main {
  padding: 50px 0;
}

main .main_title {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 30px;
}

.article .article_title {
  text-align: center;
  font-size: 28px;
}

.article .article_meta {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.article .article_meta ul li a {
  line-height: 1;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #0293AD;
  border: 1px solid #0293AD;
  color: #0293AD;
  text-decoration: none;
}

.article .article_meta time {
  margin-left: auto;
  font-size: 14px;
}

.article_image{
  margin: 20px;
  padding: 20px;
}

.postLinks {
  display: flex;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.postLink {
  width: 50%;
  padding: 15px 0;
}

.postLink a {
  text-decoration: none;
  font-size: 14px;
}

.postLink-next {
  text-align: right;
}

/*********************************
9. sidebar
*********************************/
.archive {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.archive .archive_title {
  font-size: 16px;
  padding: 20px 10px;
  line-height: 1;
  border-bottom: 1px solid #ccc;
}

.archive .archive_list li {
  margin: 0;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}

.archive .archive_list li a {
  padding: 20px 10px;
  display: block;
  text-decoration: none;
  position: relative;
  line-height: 1;
  -webkit-transition: all 300ms 0s ease;
  -o-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
}


.info_list{
  display: flex;
}
.info_list p{
  padding: 0 20px;
}
.info_list .price{
  font-size: 24px;
  color: red;
}